<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="org.example.tp_j2ee.model.Patient"/>
        <mapping class="org.example.tp_j2ee.model.Medecin"/>
        <mapping class="org.example.tp_j2ee.model.FicheSoins"/>
        <mapping class="org.example.tp_j2ee.model.Consultation"/>

    </session-factory>
</hibernate-configuration>